// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


@mixin font($f-name, $f-style, $f-weight, $f-url, $f-format-1, $f-format-2)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url + '.' + $f-format-1) format($f-format-1),
		url($f-url + '.' + $f-format-2) format($f-format-2)

// Source Sans Pro
@include font('R', normal, 400, '../fonts/Source Sans Pro/SSP-Regular', 'woff', 'woff2')
@include font('SB', normal, 600, '../fonts/Source Sans Pro/SSP-SemiBold', 'woff', 'woff2')

// Inter
@include font('I-M', normal, 500, '../fonts/Inter/Inter-Medium', 'woff', 'woff2')
@include font('I-SB', normal, 600, '../fonts/Inter/Inter-SemiBold', 'woff', 'woff2')
@include font('I-B', normal, 700, '../fonts/Inter/Inter-Bold', 'woff', 'woff2')
@include font('I-EB', normal, 900, '../fonts/Inter/Inter-ExtraBold', 'woff', 'woff2')

// SO
@include font('SO', normal, 400, '../fonts/SO/SO', 'woff', 'woff2')