@import "vars"

/*==========  Desktop First  ==========*/

// @media (max-width: 1365.98px)

+media-breakpoint-down(xl)

// ≥1200px
+media-breakpoint-down(lg)
	html
		font-size: 9px
	.slider__main
		.swiper-slide
			&__wrapper
				height: 500px
		.swiper-button
			&-prev, &-next
				top: 66%
	.latest-news__big
		height: 380px
	.latest-news__small-image
		height: 9vw
	.slider__important-news
		.swiper-slide
			&__image
				height: 20vw

// ≥992px
+media-breakpoint-down(md)
	.slider__main
		.swiper-slide
			&__info
				border: unset
			&__wrapper
				height: 50vw
				padding: 2em 2em 3.2em 2em
			&__title
				font-family: $I-B
		.swiper-button
			&-prev, &-next
				bottom: 20px
				top: unset
			&-prev
				right: 60px
			&-next
				right: 10px
	.latest-news__big
		height: 50vw
		&-title
			font-size: 2.5rem
	.latest-news__small-image
		height: 13vw
	.slider__important-news
		.swiper-slide
			&__image
				height: 29vw
	.news-block__medium .news-block__image, .news-block__medium_big .news-block__image, .news-block__medium_big.news-block__medium_media .news-block__image
		height: 56vw
	.news-block__medium_media .news-block__image
		height: 30vw
	.news-block__medium_big .news-block__info-wrapper
    padding: 1.2em 1.2em 2em 1.2em
	.news-block__info-link
		font: 2rem/1.55em $I-B
	.latest-news__item_block.latest-news__item .latest-news__item-link
		font-size: 1.6rem
	.news-block__medium_region
		.news-block__image
			height: 20vw
	.nav__main
		background-color: $primary
		padding: 1.7em 0
		&-logo
			filter: brightness(0) invert(1)
		&-search
			font-size: 2.4rem
			line-height: 1
			color: $background-2
			&:hover
				color: $background-2
	.slider__main
		margin-top: 0
	.news-block__medium-wrapper:after, .news-block__medium-wrapper:before
		content: unset
	.categories-news
		.news-block__medium_region .news-block__image
			height: 15vw
	.news-block__info-link
		font: 1.6rem/1.55em $I-M

// ≥768px
+media-breakpoint-down(sm)
	.latest-news__small-title
		margin-bottom: .5em
	.news-block__medium_big.news-block__medium_video
		height: 60vw
		margin-bottom: 2em
		padding: 1.2em
	.news-block__medium_video
		height: 30vw
	.news-block__medium_media.news-block__medium_video
		.news-block__info-link
			font-size: 1.6rem
	.news-block__medium_big.news-block__medium_media.news-block__medium_video
		.news-block__info-link
			font-size: 2rem
	.news-block__medium_media.news-block__medium_video
		.news-block__info-wrapper
			padding: 0
	.footer__logo
		display: block
		margin: 0 auto 2em auto
	.footer__list
		flex-flow: wrap
		margin-bottom: 2em
		height: auto
		li
			display: inline-block
			margin-right: 1em
	.footer__top
		padding: 4em 0
	
	.nav__main-search-input
		width: 0
		height: 0
		padding: .8em .8em .8em .8em
		transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out

	.nav__main-search-input_active
		position: fixed
		top: 4.2em
		left: 0
		right: 0
		font-size: 1.6rem
		border-radius: 0
		width: 100%
		height: 44px
		border: 0
		z-index: 10


// ≥576px
+media-breakpoint-down(xs)
	html
		font-size: 8px
	.slider__main
		.swiper-slide
			&__wrapper
				height: 80vw
			&__title
				font-size: 2em
	.latest-news__small
		&-image
			height: 27vw
		&-title
			font-size: 1.6rem
	.slider__important-news
			.swiper-slide
				&__image
					height: 60vw
	.news-block__medium_video
		height: 60vw
	.news-block__medium_media.news-block__medium_video
		.news-block__info-link
			font-size: 2rem
	.news-block__medium_region
		.news-block__image
			height: 30vw
	.latest-news__item_block.latest-news__item .latest-news__item-image
		width: 50px
		height: 50px
	.video-news__play_small
		width: 2.5em
		height: 2.5em
	.latest-news__header
		padding: 1em 1.4em
	.news-block__info-wrapper
		padding: 1.2em 0 2em 0
	.news-block__medium_big .news-block__info-wrapper
		padding: 1.2em  0
	.news-block__list_big
		flex-flow: column
	.news-block__list_big .latest-news__item
		width: 100%
		margin: 0 0 2.5em 0!important
		&:first-child
			margin-right: 0
		&:last-child
			margin-bottom: .5em!important
	.news-block__medium_media
		.news-block__info-link
			font-size: 1.6rem
	.news-block__medium.news-block__medium_media.news-block__medium_video
		.news-block__info-link
			font-size: 2rem
	.news-block__medium.news-block__medium_media
		.news-block__info-link
			font-size: 1.6rem
	.news-block__medium.news-block__medium_media.news-block__medium_big
		.news-block__info-link
			font-size: 2rem
	.latest-news__big
		padding: 1em
	.latest-news__big-title
		font-size: 1.8rem
		margin-bottom: .8em
	.latest-news__header h3
		font-size: 1.6rem
	.video-news
		padding: 2em 0 3em 0
	.news-block
		margin-bottom: 3em
	.nav__main-logo
		width: 110px
	.categories-news
		.news-block__medium_region .news-block__image
			height: 24vw
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
