[class^="so-"]:before, [class*=" so-"]:before
  font-family: "SO"
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  //width: 1em
  // margin-right: .2em
  text-align: center

  /* opacity: .8;

  /* For safety - reset parent styles, that can break glyph codes
  font-variant: normal
  text-transform: none

  /* fix buttons height, for twitter bootstrap
  line-height: 1

  /* Animation center compensation - margins should be symmetric
  /* remove if not needed
  // margin-left: .2em

  /* you can be more comfortable with increased icons size
  /* font-size: 120%;

  /* Font smoothing. That was taken from TWBS
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

/* Uncomment for 3D effect
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);

.so-arrow-down:before
  content: '\e800'

.so-arrow-left:before
  content: '\e801'

.so-arrow-right:before
  content: '\e802'

.so-cloudy:before
  content: '\e803'

.so-facebook:before
  content: '\e804'

.so-instagram:before
  content: '\e805'

.so-linkedin:before
  content: '\e806'

.so-search:before
  content: '\e807'

.so-twitter-1:before
  content: '\e808'

.so-volume:before
  content: '\e809'

.so-close:before
  content: '\e80b'

.so-twitter:before
  content: '\f099'