@import vars
@import fonts
@import libs
@import _mixins/custom

/*======== Typography ========*/
*
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none

::selection
    color: $white
    background-color: #ccc

html, body
    font-family: $R
    font-size: 10px
    font-weight: 400
    font-style: normal
    position: relative
    scroll-behavior: smooth
    background-color: $background-2
    overflow-x: hidden

main
    overflow-x: hidden

ul, li
    display: block
    list-style: none
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6, p, address, span, label, input, button, table, caption
    margin: 0
    padding: 0

h1, h2, h3, h4, h5
    font-family: $R
    font-weight: 400
    font-style: normal
    color: #000

p
    font: 1.8rem/1.44em $R
    color: #000
a
    @include transition(.2s, all)
    &:hover
        color: $primary
        text-decoration: none

input, button, textarea
    border: none
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &:focus
        outline: none
label
    display: block
select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    &.error
        ~ span
            border-color: rgba(208, 0, 0, .3)!important
        &:invalid
            border-color: rgba(208, 0, 0, .3)!important
    &:valid:required
        ~ span
            border-color: rgba(#ccc, .3)!important
textarea
    resize: none
/*======== /.Typography ========*/

/*======== Custom ========*/
/*======== /.Custom ========*/

/*======== Preloader ========*/
.preloader
    &__screen
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100vh
        background-color: #606e76
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        z-index: 9999
    &__logo
        width: 180px
    &__bar
        width: 100%
        height: 2px
        background: #cfcfcf
        margin-top: 22px
        border-radius: 5px
        position: relative
        overflow: hidden

        &::before
            content: ''
            width: 68px
            height: 2px
            background: #ccc
            position: absolute
            left: -35px
            animation: line 1.5s infinite ease

@keyframes line
    50%
        left: 150px
/*======== /.Preloader ========*/

/*======== Sliders ========*/
.slider
    &__main
        margin: 2em 0 4em
        .swiper
            &-button
                &-prev, &-next
                    top: 73%
                    @include transition(.2s, all)
                    &:after
                        font-size: 2.4rem
                        color: $background
                &-prev
                    left: auto
                    right: 90px
                &-next
                    right: 40px
            &-slide
                &__wrapper
                    display: flex
                    flex-flow: column
                    justify-content: flex-end
                    position: relative
                    background-size: cover
                    background-position: center
                    background-repeat: no-repeat
                    height: 600px
                    padding: 3.2em
                    &:before
                        content: ''
                        width: 100%
                        height: 100%
                        position: absolute
                        top: 0
                        bottom: 0
                        left: 0
                        right: 0
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 11.32%, rgba(0, 0, 0, 0.8) 100%)
                        mix-blend-mode: multiply
                &__info
                    display: flex
                    flex-flow: column
                    position: relative
                    border-bottom: 2px solid rgba(#fff, .4)
                &__category
                    font: 1.4rem/1.2em $R
                    color: #fff
                    padding: .429em .714em
                    margin-bottom: .714em
                    width: fit-content
                    text-transform: uppercase
                    background-color: $primary-black
                &__title
                    font: 2.5rem/1.2em $I-EB
                    color: #fff
                    margin-bottom: .64em
                &__date
                    font: 1.4rem/1.2em $R
                    color: #fff
                    margin-bottom: 1.429em
                &__latest
                    width: 25%
                    margin-right: 3.2em
                    opacity: .8
                    @include transition(.2s, all)
                    &:last-child
                        margin-right: 0
                    &-title
                        display: block
                        font: 1.6rem/1.3em $SB
                        color: #fff
                        margin-bottom: .5em
                    &-date
                        display: block
                        font: 1.3rem/1.8em $SB
                        color: $grey-300
                    &-wrapper
                        display: flex
                        justify-content: space-between
                        position: relative
                        margin-top: 1.2em
                    &:hover
                        opacity: 1
    &__important-news
    .swiper
        &-slide
            &__image
                width: 100%
                height: 250px
                object-fit: cover
            &__num
                font: 3rem/.8em $I-B
                color: $grey-400
            &__audio
                &-icon
                    font: 2.4rem/1em $icon
                    margin: 0 .67em
                    color: $grey-400
            &__info
                margin-left: 1.429em
                &-wrapper
                    display: flex
                    margin-top: 2em
                &-category
                    display: inline-block
                    font: 1.6rem/1.3em $SB
                    color: $grey-600
                    position: relative
                    width: fit-content
                    padding: 0 .4em
                    margin-bottom: .5em
                    z-index: 2
                    &:after
                        content: ''
                        position: absolute
                        top: 0
                        left: 0
                        right: auto
                        width: 2px
                        height: 100%
                        background-color: $grey-700
                        @include transition(.2s, all)
                &-link
                    font: 1.7rem/1.471em $I-M
                    color: #000
                    @include ellipsis(3, 5em)
                &-date
                @extend .latest-news__small-date
            &:hover
                // .swiper-slide__info-category
                //   color: #fff
                //   &:after
                //     width: 100%
                //     background-color: $primary
                //     z-index: -1
                .swiper-slide__info-link
                    color: $primary
/*======== /.Sliders ========*/

/*======== Modals ========*/
/*======== /.Modals ========*/

/*======== Header ========*/
.header
    background-color: #fff
.nav
    &__info
        padding: .5em 0
        border-bottom: 1px solid $grey-200
        &-left
            font-size: 1.4rem
            color: $grey-800
            display: flex
            align-items: center
        &-weather
            display: flex
            align-items: center
            margin-right: 2.85em
            i
                font-size: 2rem
                margin-right: .3em
        &-right
            display: flex
            align-items: center
        &-link
            font-family: $SB
            font-size: 1.5rem
            color: $grey-500
            margin-left: .8em
            text-transform: uppercase
    &__currency
        &-list
            display: flex
            li
                margin-right: 0.55em
    &__social
        &-list
            display: flex
            a
                display: block
                margin-right: 2.6em
                &:hover
                    i
                        color: $primary
            i
                font-size: 1.6rem
                color: $grey-500
                @include transition(.2s, all)
    &__main
        padding: 2em 0
        &-search
            font-size: 1.6rem
            color: $grey-600
            z-index: 20
            i
                &:before
                    font-weight: 600
            &_close
                i
                    &:before
                        content: '\e80b'
            &-input
                position: absolute
                right: 68px
                top: -7px
                font-size: 1.4rem
                height: 40px
                padding: .8em 2.6em .8em .8em
                border-radius: 4px
                border: 1px solid $grey-300
                width: 0
                opacity: 0
                visibility: hidden
                @include transition(.3s, all)
                &_active
                    width: 350px
                    opacity: 1
                    visibility: visible
        &-right
            display: flex
            align-items: center
    &__language
        position: relative
        margin-left: 3.8em
        &-list
            display: none
            position: absolute
            margin-top: .7em
            overflow: hidden
            z-index: 10
        &-item
            a
                font: 1.6rem/1.8em $SB
                display: block
        &-link
            font: 1.6rem/1.1em $SB
            color: $grey-800
            padding-right: 1em
            position: relative
            i
                font-size: .5rem
                position: absolute
                right: 0
                top: .5em
                transform: rotate(0)
                @include transition(.2s, transform)
    &__categories
        padding: 1.5em
        background-color: $primary
        &-list
            display: flex
            justify-content: space-between
        &-link
            position: relative
            font: 1.5rem/1.5em $SB
            color: $background
            padding-bottom: .2em
            text-transform: uppercase
            &:after
                content: ''
                display: block
                margin: 0 auto
                width: 0
                height: 1px
                position: absolute
                bottom: 0
                left: 0
                right: 0
                background-color: $background
                @include transition(.2s, all)
            &:hover
                color: #fff
                &:after
                    width: 100%
    &__burger
        position: relative
        align-items: center
        justify-content: center
        width: 4rem
        height: 3rem
        margin-left: 3em
        &-line
            position: absolute
            background-color: $background-2
            height: 2px
            width: 3.5rem
            display: flex!important
            justify-content: flex-end
            @include transition(.3s, all)
            &:before, &:after
                content: ''
                position: absolute
                background-color: $background-2
                height: 2px
                width: 3.5rem
                top: -1rem
                @include transition(.4s, all)
            &:after
                content: ''
                top: 1rem
                width: 2.5rem
        &_close
      .nav__burger-line
            width: 0
            &:before
                top: 0
                transform: rotate(45deg)
            &:after
                top: 0
                transform: rotate(135deg)
        &-close
            position: absolute
            top: 20px
            right: 20px
            font-size: 1.6rem
            color: $grey-400
        &-menu
            position: fixed
            top: 0
            right: 0
            display: flex
            flex-flow: column
            height: 100vh
            min-width: 270px
            padding: 6em 2em 2.5em 2em
            background-color: $background-2
            overflow-y: scroll
            transform: translateX(100%)
            z-index: 9999
            @include transition(.5s, all)
            &-wrapper
            &-overlay
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                background-color: rgba(0, 0, 0, .4)
                transform: translateX(100%)
                z-index: 999
                @include transition(.3s, all)
            &_active
                transform: translateX(0)
        &-header
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 2.5em
            .nav__language
                display: block!important
        &-weather
            font-size: 1.4rem
        &-content
      .nav__categories-list
            flex-flow: column
            align-items: center
            margin-bottom: 1.5em
            .nav__categories-link
                display: block
                color: $grey-800
                margin: .8em 0
        &-footer
      .nav__info-about
            text-align: center
            margin-bottom: 2em
            .nav__social-list
                justify-content: center
                a
                    margin: 0 1.5em
            .nav__info-link
                margin-left: 0


/*======== /.Header ========*/

/*======== Latest News ========*/
.latest-news
    margin-bottom: 4em
    &__header
        padding: 1em 2.4em
        margin-bottom: 2em
        background-color: $primary
        &_pr
            padding-right: 3.3em
        h3
            font: 2rem/1.55em $I-B
            color: $background-2
        &-navigation
            display: flex
            align-items: center
            .important-news, .audio-news
                &__prev, &__next
                    font: 2rem/1em $icon
                    color: $background-2
                &__next
                    margin-left: 1.8em
    &__big
        display: flex
        align-items: flex-end
        position: relative
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        height: 430px
        padding: 1.6em
        margin-bottom: 2em
        &:before
            content: ''
            width: 100%
            height: 100%
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: rgba(#000, .4)
            mix-blend-mode: multiply
        &-info
            display: flex
            flex-flow: column
            position: relative
        &-title
            font: 2rem/1.3em $I-B
            color:#fff
            margin-bottom: .4em
            &:hover
                color: #fff
        &-description
            font: 1.6rem/1.375em $R
            color: rgba(#fff, .9)
            margin-bottom: .75em
        &-date
            font: 1.4rem/1.214em $R
            color: rgba(#fff, .9)
        &-category
            display: inline-block
            font: 1.2rem/1.5em $R
            color: #fff
            text-transform: uppercase
            background-color: $primary-black
            padding: .417em .5em
            margin-bottom: .833em
            width: fit-content
            &:hover
                color: #fff
    &__small
        margin-bottom: 2em
        &-image
            object-fit: cover
            width: 100%
            height: 112px
        &-category
            display: inline-block
            font: 1.4rem/1.4em $R
            color: $grey-700
            position: relative
            width: fit-content
            padding: 0 .429em
            margin: .571em 0
            z-index: 2
            &:after
                content: ''
                position: absolute
                top: 0
                left: 0
                right: auto
                width: 2px
                height: 100%
                background-color: $grey-700
                @include transition(.2s, all)
        &-title
            font: 1.4rem/1.429em $I-SB
            color: $primary-black
            margin-bottom: 2em
            @include ellipsis(3, 4.4em)
            @include transition(.2s, all)
        &-date
            font: 1.4rem/1.214em $R
            color: $grey-700
        &:hover
            .latest-news__small-category
                color: #fff
                &:after
                    width: 100%
                    background-color: $primary
                    z-index: -1
            .latest-news__small-title
                color: $primary
    &__item
        display: flex
        padding: 1.2em 2em 2em 2em
        &-info
            display: flex
            flex-flow: column
        &-date
            font: 2rem/1.5em $I-B
            color: $grey-400
            margin-right: 1em
        &-link
            font: 1.7rem/1.471em $I-M
            color: $grey-800
            margin-bottom: .588em
        &-category
            font: 1.4rem/1.4em $R
            color: $grey-500
            span
                font: 1.3rem/1.2em $R
                color: $background-2
                padding: .1em .462em
                margin-right: .1em
                background-color: $primary
            &_link
                @extend .latest-news__small-category
                margin: 0
        &:hover
            .latest-news__item-category_link
                color: #fff
                &:after
                    width: 100%
                    background-color: $primary
                    z-index: -1
        &:first-child
            padding-top: .4em
        &_block
            &.latest-news__item
                display: flex
                align-items: center
                padding: 1.5em 0
                &:first-child
                    margin: 0
                    padding-top: 0
                &:last-child
                    padding-bottom: 2.5em
                .latest-news__item
                    &-image
                        width: 74px
                        height: 74px
                        margin-right: 0.8em
                        object-fit: cover
                        border-radius: 50%
                    &-link
                        font: 1.4rem/1.429em $I-SB
                        color: $grey-800
                        @include ellipsis(2, 2.857em)
                    &-category
                        @include ellipsis(1, 1.429em)
            &:hover
                .latest-news__item-link
                    color: $primary
        &_media
            &.latest-news__item
                &:last-child
                    padding: 0
                .latest-news
                    &__item
                        &-category
                            color: $grey-400
                            &::after
                                background-color: $grey-400
                        &-link
                            color: $background
                        &:hover
                            .latest-news__item-link
                                color: #fff

    &__button
        display: block
        font: 1.4rem/1.257em $R
        color: $primary-black
        text-transform: uppercase
        text-align: center
        padding: 1.05em
        border: 1px solid $grey-300
        &:hover
            border-color: $primary
        &_category
            display: inline-block
            font: 1.4rem/.5em $I-B
            color: $primary-black
            border: 1px solid $grey-700
    &__open
        padding-top: 3em
        &-info
            display: flex
            justify-content: space-between
            align-items: center
            margin-bottom: 1.8em
            .latest-news__small-date
                font: 1.8rem/1.257em $SB
                color: $grey-400
        &-cover
            margin-bottom: 3em
        &-title
            font: 3.4rem/1.257em $I-B
            margin-bottom: 0.8em
        &-content
            >*
                margin-bottom: 1.2em
            p
                font: 1.8rem/1.5em $R
                color: $primary-black
        &-keywords
            a
                font: 1.6rem/1.257em $I-B
                color: $primary
                margin-right: 0.5em
                &:before
                    content: '#'
                &:after
                    content: ','
                &:last-child
                    &:after
                        content: unset
                &:hover
                    color: rgba($primary, .8)
        &-divider
            margin: 3em 0
            padding: 1.5em 0
            border-top: 1px solid #ccc
            border-bottom: 1px solid #ccc
        &-author
            display: flex
            align-items: center
            &-image
                height: 60px
                border-radius: 50%
                border: 2px solid #ccc
                margin-right: 1.2em
            &-info
                // display: flex
                // flex-flow: column
                span
                    font: 1.4rem/1.257em $I-SB
        &-social
            width: 100%
            text-align: right
/*======== /.Latest News ========*/

/*======== Important News ========*/
.important-news
    margin-bottom: 5em
/*======== /.Important News ========*/

/*======== Audio News ========*/
.audio-news
    .latest-news__header
        display: flex
        justify-content: space-between
        i.so-volume
            margin-right: .6em
/*======== /.Audio News ========*/

/*======== News Block ========*/
.news-block
    margin-bottom: 4em
    &__image
        width: 100%
        height: 164px
        object-fit: cover
    &__info
        &-wrapper
            display: flex
            padding: 1.2em 1.2em 2em 1.2em
        &-category
            display: inline-block
            font: 1.6rem/1.3em $SB
            color: $grey-600
            position: relative
            width: fit-content
            padding: 0 .4em
            margin-bottom: .5em
            z-index: 2
            &:after
                content: ''
                position: absolute
                top: 0
                left: 0
                right: auto
                width: 2px
                height: 100%
                background-color: $grey-700
                @include transition(.2s, all)
            &.latest-news__item-category
                padding: 0
                span
                    margin-right: .35em
                &:after
                    content: unset
        &-link
            font: 1.7rem/1.471em $I-M
            color: #000
            @include ellipsis(3, 5em)
        &-date
        @extend .latest-news__small-date
        &-region
            display: inline-block
            font: 1.3rem/1.231em $R
            color: $background-2
            background-color: $primary-black
            padding: .2em .5em 0 .5em
            margin-top: .5em
    &__medium
        margin-bottom: 1.5em
        border-bottom: 1px solid $grey-400
        &:hover
            // .news-block__info-category
            //   color: #fff
            //   &:after
            //     width: 100%
            //     background-color: $primary
            //     z-index: -1
            .news-block__info-link
                color: $primary
        &_media
            position: relative
            margin-bottom: 0
            .news-block
                &__info
                    &-wrapper
                        padding-left: 0
                        padding-right: 0
                    &-category
                        color: $grey-400
                        &::after
                            background-color: $grey-400
                    &-link
                        color: $background
                &__date
                    display: block
                    color: $grey-400
            &:hover
                .news-block__info-link
                    color: #fff
        &-wrapper
            &:before, &:after
                content: ''
                position: absolute
                left: 0
                top: 71px
                width: 1px
                height: calc(100% - 139px)
                background-color: $grey-400
            &:after
                right: 0
                left: auto
        &_big
      .news-block
            &__image
                height: 344px
            &__info
                &-wrapper
                    padding: 2em 2em 3em 2em
                &-link
                    font: 2rem/1.55em $I-B
                    color: #000
            &.news-block__medium_video
                height: 464px
                padding: 2.4em
                .video-news__play
                    width: 50px
                    height: 50px
        &_media
      .news-block
            &__info
                &-wrapper
                    padding-left: 0
                    padding-right: 0
                    padding-bottom: 1.2em
                &-category
                    color: $grey-400
                    &::after
                        background-color: $grey-400
                &-link
                    color: $background
            &__date
                color: $grey-400
            &:hover
                .news-block__info-link
                    color: #fff
        &_video
            display: flex
            align-items: flex-end
            height: 222px
            padding: 1.2em
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            &:before
                content: ''
                width: 100%
                height: 100%
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background: linear-gradient(180deg, rgba(0, 1, 3, 0) 0%, #000103 100%)
                mix-blend-mode: multiply
            &_mb-2
                margin-bottom: 2em
            .video-news__play
                width: 40px
                height: 40px
            .news-block
                &__info
                    &-link
                        height: unset
                        max-height: 5em
                        margin-bottom: 1em
                    &-category
                        color: $background
                    &-wrapper
                        position: relative
                        padding-bottom: 0
                &__date
                    color: $background
        &_region
            margin-bottom: 1.8em
            border: unset
            .news-block
                &__image
                    height: 224px
                &__info
                    &-category
                        color: $grey-500
                        &:before
                            background-color: $grey-700
                    &-link
                        color: #000
                        @include ellipsis(2, 3em)
                &__date
                    margin-top: 1.7em
                    color: $grey-700
            &:hover
                .news-block__info-link
                    color: $primary
    &__list
        &_big
            display: flex
            align-items: center
            padding-bottom: 2em
            .latest-news__item
                width: 50%
                padding: 0
                &:first-child
                    margin-right: 3em
                &:last-child
                    padding: 0
/*======== /.News Block ========*/

/*======== Video News ========*/
.video-news
    background-color: $grey-700
    padding: 3em 0
    margin-bottom: 4em
    &__play
        position: absolute
        top: 0
        right: 0
        width: 5em
        height: 5em
        margin: 1.2em
        &_small
            width: 3.2em
            height: 3.2em
            margin: .8em
        &-wrapper
            position: relative
            .video-news__play_small
                margin: 0 .8em 0 0
    &__border
        &-top
            position: relative
            padding-top: 1.5em
            &:before
                content: ''
                position: absolute
                top: 0
                left: 50%
                width: calc(100% - 20px)
                height: 1px
                transform: translate(-50%, 0)
                background-color: $grey-600
        &-right
            border-right: 1px solid $grey-600
    .latest-news__header
        display: flex
        justify-content: space-between
        align-items: center
        background-color: transparent
    &__header-link
        display: flex
        align-items: center
        font: 1.6rem/1.125em $R
        color: $grey-300
        i
            font-size: 1.6rem
            color: $background
            margin-left: .4em
        &:hover
            color: #fff
    .news-block__medium
        border: unset
/*======== /.Video News ========*/

/*======== Region News ========*/
.region-news
    margin-bottom: 2em
    &__button
        display: inline-block
        font: 1.6rem/1.125em $SB
        color: $grey-500
        padding: .688em 1.5em
        border: 1px solid #D3D6D9
        border-radius: 20px
        &:hover
            color: $primary
            border-color: $primary
        &-list
            display: flex
            overflow-x: scroll
            overflow-y: hidden
            white-space: nowrap
            -webkit-overflow-scrolling: touch
            margin-bottom: 2em
            &::-webkit-scrollbar
                display: none
            li+li
                margin-left: 1.2em
/*======== /.Region News ========*/

/*======== Categories News ========*/
.categories-news
    &__title
        font: 3rem/1.55em $I-SB
        color: $primary-black
        padding: 1em 0
    .news-block__image
        height: 190px
/*======== /.Categories News ========*/



/*======== Footer ========*/
.footer
    background-color: $grey-700
    &__top
        padding: 8em 0
    &__bottom
        padding: 1.6em 0
        border-top: 1px solid $grey-600
    &__about, &__copyright
        font: 1.6rem/1.125em $R
        color: $grey-300
    &__copyright
        font-family: $SB
    &__about
        &:hover
            color: #fff
    &__logo
        width: 144px
    &__title
        display: block
        font: 1.6rem/1.25em $SB
        color: $background
        padding-bottom: .5em
        margin-bottom: 2em
        border-bottom: 1px solid $grey-600
    &__list
        display: flex
        flex-flow: column
        flex-wrap: wrap
        height: 110px
        &-link
            display: inline-block
            font: 1.5rem/1.2em $R
            color: $grey-400
            margin-bottom: 1.1em
            &:hover
                color: #fff
    .nav__social-list
        color: $grey-400
        a
            &:hover
                i
                    color: #fff
/*======== /.Footer ========*/





@import media
