@mixin transition($time, $option)
  -webkit-transition: $time ease-in-out $option
  -moz-transition: $time ease-in-out $option
  -ms-transition: $time ease-in-out $option
  -o-transition: $time ease-in-out $option
  transition: $time ease-in-out $option

@mixin ellipsis($line, $height)
  height: $height
  -o-text-overflow: ellipsis
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-line-clamp: $line
  -webkit-box-orient: vertical
  overflow: hidden